<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cgc.dao.DiscussPostMapper">

    <sql id="selectFields">
        `id`, `user_id`, `title`, `content`, `type`, `status`, `create_time`, `comment_count`, `score`
    </sql>
    <sql id="insertFields">
        `user_id`, `title`, `content`, `type`, `status`, `create_time`, `comment_count`, `score`
    </sql>

    <!--① 需要查询出的记录应满足两个条件：1.非拉黑状态 2.userid不能为0
        ② 查询结果需要按创建时间和是否置顶排序
        ③ 需要设置分页-->
    <select id="selectDiscussPosts" resultType="com.cgc.entity.DiscussPost">
        select
        <include refid="selectFields"/>
        from discuss_post
        where status!=2
        <if test="userId!=0">and user_id=#{userId}</if>
        order by type desc ,create_time desc
        limit #{offset},#{limit}
    </select>

    <!--查询符合条件的记录条数-->
    <select id="selectDiscussPostRows" resultType="int">
        select count(id)
        from discuss_post
        where status != 2
        <if test="userId!=0">
            and user_id = #{userId}
        </if>
    </select>

    <!--添加帖子-->
    <insert id="insertDiscussPost" parameterType="com.cgc.entity.DiscussPost" keyProperty="id">
        insert into discuss_post
        (<include refid="insertFields"/>)
        values (#{userId}, #{title}, #{content}, #{type}, #{status}, #{createTime}, #{commentCount}, #{score})
    </insert>

    <!--查询帖子-->
    <select id="selectDiscussPostById" resultType="com.cgc.entity.DiscussPost">
        select
        <include refid="insertFields"/>
        from discuss_post
        where id=#{id}
    </select>
</mapper>